<div class="main-content">
    <div class="container">
        <div class="text-end">
            {{#if isAdmin}}
            <a class="button text-light text-decoration-none" href="/series/create">Crear serie</a>
            {{/if}}
        </div>
        <div class="row">
            {{#each favSeries}}
            <div class="col-6">
                <div class="card my-4">
                    <div class="p-4">
                        <img class="img-serie" src="{{image}}" alt="image">
                        <h2 class="h3 mb-4">{{title}}</h2>
                        <a class="button-small text-decoration-none text-light" href="/series/{{_id}}">Ver más</a>
                        <a class="button-small text-decoration-none text-light" href="#">Jugar</a>
                        {{#if fav}}
                        <a href="/series/{{_id}}/dislike"><img src="images/heart-fill.png" alt=""></a>
                        {{else}}
                        <a href="/series/{{_id}}/like"><img src="images/heart-line.png" alt=""></a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{!-- {{#if fav}}
            <p>HOLI</p>
            {{/if}} --}}
            {{/each}}
        </div>
        <div>
            <a href="/series/{{_id}}/join">Like</a>
        </div>
        {{/each}}
    </div>
</div>