<div class="container">
    <div class="main-content">
        <div class="flex-content">
            <div class="section">
                <div class="row">
                    <div class="col">
                        <h2 class="mb-5">Perfil de <span>{{user.username}}</span></h2>
                        <div>
                            <img class="mb-3" style="width: 50%; height: 50%;" src="{{user.avatar}}">
                        </div>
                        <p class="text-muted"><i>{{user.description}}</i></p>
                        <div class="d-flex">
                            <div class="points-div text-center">
                                <span class="text-light"><strong>{{user.points}}</strong></span>
                            </div>
                            <span class="mt-2">&nbsp&nbsppuntos</span>
                        </div>
                        {{#if isAdmin}}
                        <div class="d-flex align-items-center">
                            <div class="p-3">
                                <a class="btn user-edit-button " href="/users/{{user.id}}/edit">Edit</a>
                            </div>
                            <div class="p-3">
                                <a class="btn user-delete-button" href="/users/{{user.id}}/delete">Delete</a>
                            </div>
                        </div>
                        {{/if}}

                        {{#if canEdit}}
                        <div class="d-flex align-items-center">
                            <div class="p-3">
                                <a class="btn user-edit-button " href="/users/{{user.id}}/edit">Edit</a>
                            </div>
                            <div class="p-3">
                                <a class="btn user-delete-button" href="/users/{{user.id}}/delete">Delete</a>
                            </div>
                        </div>
                        {{/if}}
                    </div>

                    <div class="col-7">
                        <h3><strong>Series que me gustan</strong></h3>
                        <div class="row">
                            {{#each user.series}}

                            <div class="card bg-dark text-white col-5 my-5 column">
                                <img src="{{this.image}}" class="card-img" style=" opacity:0.5;" alt="...">
                                <div class="card-img-overlay">
                                    <h3 class="card-title">{{this.title}}</h3>
                                    <a class="btn text-light" href="/series/{{this._id}}">Ver más</a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>