<div class="container">
    <h2>Perfil de {{username}}</h2>
    <p>Nombre: {{username}}</p>
    <p>Clave: {{password}}</p>
    <div class="d-flex align-items-center">
        <div>
            <a class="btn btn-outline-info" href="/users/{{id}}/edit">Edit</a>
        </div>
        <div class="p-3">
            <a class="btn btn-outline-danger" href="/users/{{id}}/delete">Delete</a>
        </div>
    </div>
</div>