<div class="container">
    <div class="section">
        <h2>Perfil de <span>{{user.username}}</span></h2>
        <h3 class="h5">Nombre</h3>
        <span>{{user.username}}</span>
        <img class="profile-img" src="{{user.avatar}}">
        <p>Friends</p>
        <ul>
            {{#each friends}}
            <li><a href="/users/{{_id}}">{{username}}</a></li>
            {{/each}}
        </ul>

        {{#if isAdmin}}
        <div class="d-flex align-items-center">
            <div>
                <a class="btn btn-outline-info" href="/users/{{user.id}}/edit">Edit</a>
            </div>
            <div class="p-3">
                <a class="btn btn-outline-danger" href="/users/{{user.id}}/delete">Delete</a>
            </div>
        </div>
        {{/if}}

        {{#if canEdit}}
        <div class="d-flex align-items-center">
            <div>
                <a class="btn btn-outline-info" href="/users/{{user.id}}/edit">Edit</a>
            </div>
            <div class="p-3">
                <a class="btn btn-outline-danger" href="/users/{{user.id}}/delete">Delete</a>
            </div>
        </div>
        {{/if}}
    </div>

</div>